form, .passwordGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  border: 1px solid lightgray;
  border-radius: 40px;
  padding: 30px;
  min-width: 300px;
  width: 50vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  h2 {
    color: rgb(71, 33, 160);
    text-align: center;
  }

  mat-form-field {
    width: 300px;
    margin: 10px auto;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mat-raised-button, .mat-stroked-button { 
    width: 100px; 
    margin: 15px auto; 
    height: 40px; 
    font-size: 1.1rem; 
  }

  .mat-spinner {
    margin: 15px auto;
  }

}